body{
    /* width, height: 100%; */x
    margin: 0;
  }
  .viz{
    border: 1px rgb(255, 255, 255) solid;
  }
  
  .tooltip strong {
    color: #d9b1bbe8;
    font-weight: bold;
  }
  
  .tooltip span {
    display: inline-block;
    width: 20px;
    height: 20px;
  
    border-radius: 50%;
  }
  
  .tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: "Merriweather";
    font-size: 1.1em;
    max-width: 300px;
    z-index: 100;
  }